.panel { width: 300px; border: 1px solid #0050D0; margin: 0; padding: 0; }
.head { padding: 5px; background: #96E555; cursor: pointer; margin: 0; padding: 2px; }
.content { padding: 10px; border-top: 1px solid #0050D0;display:block; margin: 0; padding: 2px; }